---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"public":false,"files":{"geet_gist20171120-21351-1voyg7d":{"content":"testcontent"}},"description":"testdescription"}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1511208417'
      Etag:
      - '"0b40ee11ec02481c8d1ec1b78eb0a8fd"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/deadbeef
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/deadbeef","forks_url":"https://api.github.com/gists/deadbeef/forks","commits_url":"https://api.github.com/gists/deadbeef/commits","id":"deadbeef","git_pull_url":"https://gist.github.com/deadbeef.git","git_push_url":"https://gist.github.com/deadbeef.git","html_url":"https://gist.github.com/deadbeef","files":{"geet_gist20171120-21351-1voyg7d":{"filename":"geet_gist20171120-21351-1voyg7d","type":"text/plain","language":null,"raw_url":"https://gist.githubusercontent.com/donaldduck/deadbeef/raw/otherhex1/geet_gist20171120-21351-1voyg7d","size":11,"truncated":false,"content":"testcontent"}},"public":false,"created_at":"2017-11-20T19:49:52Z","updated_at":"2017-11-20T19:49:52Z","description":"testdescription","comments":0,"user":null,"comments_url":"https://api.github.com/gists/deadbeef/comments","owner":{"login":"donaldduck","id":1234566,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"donaldduck","id":1234566,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"version":"otherhex2","committed_at":"2017-11-20T19:49:51Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/deadbeef/otherhex2"}],"truncated":false}'
  recorded_at: Mon, 20 Nov 2017 19:49:52 GMT
recorded_with: VCR 3.0.3
