---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/donaldduck-fr/testrepo_gh/labels
    body:
      encoding: UTF-8
      string: '{"name":"my_label","color":"c64c64"}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1516900528'
      Etag:
      - '"ffff9999b041066d43bc10f1c68004b3"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/donaldduck-fr/testrepo_gh/labels/my_label
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":777766664,"url":"https://api.github.com/repos/donaldduck-fr/testrepo_gh/labels/my_label","name":"my_label","color":"c64c64","default":false}'
  recorded_at: Thu, 25 Jan 2018 17:15:05 GMT
recorded_with: VCR 3.0.3
