---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/gists
    body:
      encoding: UTF-8
      string: '{"public":true,"files":{"geet_gist_test.md":{"content":"testcontent"}},"description":"testdescription"}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1511208417'
      Etag:
      - '"406a805c544144f845c5d4d7eaf99cae"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/gists/b01dface
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/gists/b01dface","forks_url":"https://api.github.com/gists/b01dface/forks","commits_url":"https://api.github.com/gists/b01dface/commits","id":"b01dface","git_pull_url":"https://gist.github.com/b01dface.git","git_push_url":"https://gist.github.com/b01dface.git","html_url":"https://gist.github.com/b01dface","files":{"geet_gist20171120-21351-vhp23e":{"filename":"geet_gist20171120-21351-vhp23e","type":"text/plain","language":null,"raw_url":"https://gist.githubusercontent.com/donaldduck/b01dface/raw/otherhex1/geet_gist20171120-21351-vhp23e","size":11,"truncated":false,"content":"testcontent"}},"public":true,"created_at":"2017-11-20T19:49:47Z","updated_at":"2017-11-20T19:49:47Z","description":"testdescription","comments":0,"user":null,"comments_url":"https://api.github.com/gists/b01dface/comments","owner":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"forks":[],"history":[{"user":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"version":"otherhex2","committed_at":"2017-11-20T19:49:47Z","change_status":{"total":1,"additions":1,"deletions":0},"url":"https://api.github.com/gists/b01dface/otherhex2"}],"truncated":false}'
  recorded_at: Mon, 20 Nov 2017 19:49:48 GMT
recorded_with: VCR 3.0.3
