---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4910'
      X-Ratelimit-Reset:
      - '1517838241'
      Etag:
      - W/"894767eeeae043df2ab70d9ce0e1fa5b"
      Last-Modified:
      - Tue, 30 Jan 2018 20:56:34 GMT
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"donaldduck","id":1234566,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false,"name":"Donald
        Duck","company":"@momcorp","blog":"","location":"Berlin","email":"donald.pub2@gmail.com","hireable":true,"bio":null,"public_repos":19,"public_gists":0,"followers":9,"following":0,"created_at":"2012-04-01T11:52:16Z","updated_at":"2018-01-30T20:56:34Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":32591,"collaborators":0,"two_factor_authentication":true,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Mon, 05 Feb 2018 12:57:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_f/collaborators/donaldduck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/octet-stream
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4909'
      X-Ratelimit-Reset:
      - '1517838241'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Feb 2018 12:57:11 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_f/collaborators/donaldduck/permission
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4906'
      X-Ratelimit-Reset:
      - '1517838241'
      Etag:
      - W/"2e0eb2906871bf26051feba70dcc7ce1"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"permission":"admin","user":{"login":"donaldduck","id":1234566,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false}}'
  recorded_at: Mon, 05 Feb 2018 12:57:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_f/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4905'
      X-Ratelimit-Reset:
      - '1517838241'
      Etag:
      - W/"4ba2555ba24479fbaef3c44c9f618b97"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":123456797,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/bug","name":"bug","color":"d73a4a","default":true},{"id":123456798,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/duplicate","name":"duplicate","color":"cfd3d7","default":true},{"id":123456799,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/enhancement","name":"enhancement","color":"a2eeef","default":true},{"id":123456801,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/good%20first%20issue","name":"good
        first issue","color":"7057ff","default":true},{"id":123456800,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/help%20wanted","name":"help
        wanted","color":"008672","default":true},{"id":123456802,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/invalid","name":"invalid","color":"e4e669","default":true},{"id":123456803,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/question","name":"question","color":"d876e3","default":true},{"id":123456804,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/wontfix","name":"wontfix","color":"ffffff","default":true}]'
  recorded_at: Mon, 05 Feb 2018 12:57:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_f/milestones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4904'
      X-Ratelimit-Reset:
      - '1517838241'
      Etag:
      - W/"b6b89486e2ccd9f7ea58d3e6ba81bfba"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/donaldduck/testrepo_f/milestones/1","html_url":"https://github.com/donaldduck/testrepo_f/milestone/1","labels_url":"https://api.github.com/repos/donaldduck/testrepo_f/milestones/1/labels","id":1234568,"number":1,"title":"0.0.1","description":"","creator":{"login":"donaldduck","id":1234566,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"open_issues":1,"closed_issues":0,"state":"open","created_at":"2018-02-05T12:44:37Z","updated_at":"2018-02-05T12:56:19Z","due_on":null,"closed_at":null}]'
  recorded_at: Mon, 05 Feb 2018 12:57:14 GMT
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_f/collaborators
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4903'
      X-Ratelimit-Reset:
      - '[...]
- request:
    method: post
    uri: https://api.github.com/repos/donaldduck/testrepo_f/issues
    body:
      encoding: UTF-8
      string: '{"title":"Title","body":"Description","base":"master"}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4902'
      X-Ratelimit-Reset:
      - '1517838241'
      Etag:
      - '"3324f45bbb51c5675b7e7422fd571af3"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/donaldduck/testrepo_f/issues/2
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/donaldduck/testrepo_f/issues/2","repository_url":"https://api.github.com/repos/donaldduck/testrepo_f","labels_url":"https://api.github.com/repos/donaldduck/testrepo_f/issues/2/labels{/name}","comments_url":"https://api.github.com/repos/donaldduck/testrepo_f/issues/2/comments","events_url":"https://api.github.com/repos/donaldduck/testrepo_f/issues/2/events","html_url":"https://github.com/donaldduck/testrepo_f/issues/2","id":123456762,"number":2,"title":"Title","user":{"login":"donaldduck","id":1234566,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2018-02-05T12:57:15Z","updated_at":"2018-02-05T12:57:15Z","closed_at":null,"author_association":"OWNER","body":"Description","closed_by":null}'
  recorded_at: Mon, 05 Feb 2018 12:57:16 GMT
- request:
    method: post
    uri: https://api.github.com/repos/donaldduck/testrepo_f/issues/2/labels
    body:
      encoding: UTF-8
      string: '["bug","invalid"]'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4901'
      X-Ratelimit-Reset:
      - '1517838241'
      Etag:
      - W/"475c63cc1229bf57fd5d8cdb02002527"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":123456797,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/bug","name":"bug","color":"d73a4a","default":true},{"id":123456802,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/invalid","name":"invalid","color":"e4e669","default":true}]'
  recorded_at: Mon, 05 Feb 2018 12:57:16 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/donaldduck/testrepo_f/issues/2
    body:
      encoding: UTF-8
      string: '{"milestone":1}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4900'
      X-Ratelimit-Reset:
[...]
- request:
    method: post
    uri: https://api.github.com/repos/donaldduck/testrepo_f/issues/2/assignees
    body:
      encoding: UTF-8
      string: '{"assignees":["donaldduck","donald-fr"]}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaini[...]
