---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_upstream/milestones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1530478681'
      Etag:
      - W/"976b06f0450010304a0a46bb87e09b31"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/donaldduck/testrepo_upstream/milestones/2","html_url":"https://github.com/donaldduck/testrepo_upstream/milestone/2","labels_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/milestones/2/labels","id":1234560,"node_id":"MDk6TWlsZXN0b25lMzQ2NTE0MA==","number":2,"title":"Upstream
        milestone 2","description":"","creator":{"login":"donaldduck","id":1234566,"node_id":"MDQ6VXNlcjE1OTUzNTY=","avatar_url":"https://avatars2.githubusercontent.com/u/1234566?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"open_issues":2,"closed_issues":0,"state":"open","created_at":"2018-07-01T20:05:44Z","updated_at":"2018-07-01T20:06:54Z","due_on":null,"closed_at":null},{"url":"https://api.github.com/repos/donaldduck/testrepo_upstream/milestones/1","html_url":"https://github.com/donaldduck/testrepo_upstream/milestone/1","labels_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/milestones/1/labels","id":1234569,"node_id":"MDk6TWlsZXN0b25lMzQ2NTEzOQ==","number":1,"title":"Upstream
        milestone 1","description":"","creator":{"login":"donaldduck","id":1234566,"node_id":"MDQ6VXNlcjE1OTUzNTY=","avatar_url":"https://avatars2.githubusercontent.com/u/1234566?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"open_issues":1,"closed_issues":0,"state":"open","created_at":"2018-07-01T20:05:35Z","updated_at":"2018-07-01T20:06:29Z","due_on":"2019-04-10T07:00:00Z","closed_at":null}]'
  recorded_at: Sun, 01 Jul 2018 20:44:48 GMT
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_upstream/issues?milestone=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1530478681'
      Etag:
      - W/"9bb635d0bda68dc1f186846e54dd113e"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/3","repository_url":"https://api.github.com/repos/donaldduck/testrepo_upstream","labels_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/3/comments","events_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/3/events","html_url":"https://github.com/donaldduck/testrepo_upstream/issues/3","id":123456099,"node_id":"MDU6SXNzdWUzMzczMTgwOTk=","number":3,"title":"Issue
        upstream 1","user":{"login":"donald-fr","id":12345612,"node_id":"MDQ6VXNlcjMzODQ3NDEy","avatar_url":"https://avatars2.githubusercontent.com/u/12345612?v=4","gravatar_id":"","url":"https://api.github.com/users/donald-fr","html_url":"https://github.com/donald-fr","followers_url":"https://api.github.com/users/donald-fr/followers","following_url":"https://api.github.com/users/donald-fr/following{/other_user}","gists_url":"https://api.github.com/users/donald-fr/gists{/gist_id}","starred_url":"https://api.github.com/users/donald-fr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donald-fr/subscriptions","organizations_url":"https://api.github.com/users/donald-fr/orgs","repos_url":"https://api.github.com/users/donald-fr/repos","events_url":"https://api.github.com/users/donald-fr/events{/privacy}","received_events_url":"https://api.github.com/users/donald-fr/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":{"login":"donald-fr","id":12345612,"node_id":"MDQ6VXNlcjMzODQ3NDEy","avatar_url":"https://avatars2.githubusercontent.com/u/12345612?v=4","gravatar_id":"","url":"https://api.github.com/users/donald-fr","html_url":"https://github.com/donald-fr","followers_url":"https://api.github.com/users/donald-fr/followers","following_url":"https://api.github.com/users/donald-fr/following{/other_user}","gists_url":"https://api.github.com/users/donald-fr/gists{/gist_id}","starred_url":"https://api.github.com/users/donald-fr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donald-fr/subscriptions","organizations_url":"https://api.github.com/users/donald-fr/orgs","repos_url":"https://api.github.com/users/donald-fr/repos","events_url":"https://api.github.com/users/donald-fr/events{/privacy}","received_events_url":"https://api.github.com/users/donald-fr/received_events","type":"User","site_admin":false},"assignees":[{"login":"donald-fr","id":12345612,"node_id":"MDQ6VXNlcjMzODQ3NDEy","avatar_url":"https://avatars2.githubusercontent.com/u/12345612?v=4","gravatar_id":"","url":"https://api.github.com/users/donald-fr","html_url":"https://github.com/donald-fr","followers_url":"https://api.github.com/users/donald-fr/followers","following_url":"https://api.github.com/users/donald-fr/following{/other_user}","gists_url":"https://api.github.com/users/donald-fr/gists{/gist_id}","starred_url":"https://api.github.com/users/donald-fr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donald-fr/subscriptions","organizations_url":"https://api.github.com/users/donald-fr/orgs","repos_url":"https://api.github.com/users/donald-fr/repos","events_url":"https://api.github.com/users/donald-fr/events{/privacy}","received_events_url":"https://api.github.com/users/donald-fr/received_events","type":"User","site_admin":false}],"milestone":{"url":"https://api.github.com/repos/donaldduck/testrepo_upstream/milestones/1","html_url":"https://github.com/donaldduck/testrepo_upstream/milestone/1","labels_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/milestones/1/labels","id":1234569,"node_id":"MDk6TWlsZXN0b25lMzQ2NTEzOQ==","number":1,"title":"Upstream
        milestone 1","description":"","creator":{"login":"donaldduck","id":1234566,"node_id":"MDQ6VXNlcjE1OTUzNTY=","avatar_url":"https://avatars2.githubusercontent.com/u/1234566?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"open_issues":1,"closed_issues":0,"state":"open","created_at":"2018-07-01T20:05:35Z","updated_at":"2018-07-01T20:06:29Z","due_on":"2019-04-10T07:00:00Z","closed_at":null},"comments":0,"created_at":"2018-07-01T20:06:29Z","updated_at":"2018-07-01T20:06:29Z","closed_at":null,"author_association":"COLLABORATOR","body":""}]'
  recorded_at: Sun, 01 Jul 2018 20:44:49 GMT
[...]
