---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/donald-fr/testrepo_downstream/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1530478681'
      Etag:
      - W/"a170fa74d05975078fa59bf306bae525"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/donald-fr/testrepo_downstream/issues/6","repository_url":"https://api.github.com/repos/donald-fr/testrepo_downstream","labels_url":"https://api.github.com/repos/donald-fr/testrepo_downstream/issues/6/labels{/name}","comments_url":"https://api.github.com/repos/donald-fr/testrepo_downstream/issues/6/comments","events_url":"https://api.github.com/repos/donald-fr/testrepo_downstream/issues/6/events","html_url":"https://github.com/donald-fr/testrepo_downstream/issues/6","id":123456162,"node_id":"MDU6SXNzdWUzMzczMjAxNjI=","number":6,"title":"Issue
        downstream 4","user":{"login":"donald-fr","id":12345612,"node_id":"MDQ6VXNlcjMzODQ3NDEy","avatar_url":"https://avatars2.githubusercontent.com/u/12345612?v=4","gravatar_id":"","url":"https://api.github.com/users/donald-fr","html_url":"https://github.com/donald-fr","followers_url":"https://api.github.com/users/donald-fr/followers","following_url":"https://api.github.com/users/donald-fr/following{/other_user}","gists_url":"https://api.github.com/users/donald-fr/gists{/gist_id}","starred_url":"https://api.github.com/users/donald-fr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donald-fr/subscriptions","organizations_url":"https://api.github.com/users/donald-fr/orgs","repos_url":"https://api.github.com/users/donald-fr/repos","events_url":"https://api.github.com/users/donald-fr/events{/privacy}","received_events_url":"https://api.github.com/users/donald-fr/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":{"url":"https://api.github.com/repos/donald-fr/testrepo_downstream/milestones/2","html_url":"https://github.com/donald-fr/testrepo_downstream/milestone/2","labels_url":"https://api.github.com/repos/donald-fr/testrepo_downstream/milestones/2/labels","id":1234568,"node_id":"MDk6TWlsZXN0b25lMzQ2NTE1OA==","number":2,"title":"Milestone
        downstream 2","description":"","creator":{"login":"donald-fr","id":12345612,"node_id":"MDQ6VXNlcjMzODQ3NDEy","avatar_url":"https://avatars2.githubusercontent.com/u/12345612?v=4","gravatar_id":"","url":"https://api.github.com/users/donald-fr","html_url":"https://github.com/donald-fr","followers_url":"https://api.github.com/users/donald-fr/followers","following_url":"https://api.github.com/users/donald-fr/following{/other_user}","gists_url":"https://api.github.com/users/donald-fr/gists{/gist_id}","starred_url":"https://api.github.com/users/donald-fr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donald-fr/subscriptions","organizations_url":"https://api.github.com/users/donald-fr/orgs","repos_url":"https://api.github.com/users/donald-fr/repos","events_url":"https://api.github.com/users/donald-fr/events{/privacy}","received_events_url":"https://api.github.com/users/donald-fr/received_events","type":"User","site_admin":false},"open_issues":2,"closed_issues":0,"state":"open","created_at":"2018-07-01T20:36:59Z","updated_at":"2018-07-01T20:37:24Z","due_on":null,"closed_at":null},"comments":0,"created_at":"2018-07-01T20:37:24Z","updated_at":"2018-07-01T20:37:24Z","closed_at":null,"author_association":"OWNER","body":""},{"url":"https://api.github.com/repos/donald-fr/testrepo_downstream/issues/5","repository_url":"https://api.github.com/repos/donald-fr/testrepo_downstream","labels_url":"https://api.github.com/repos/donald-fr/testrepo_downstream/issues/5/labels{/name}","comments_url":"https://api.github.com/repos/donald-fr/testrepo_downstream/issues/5/comments","events_url":"https://api.github.com/repos/donald-fr/testrepo_downstream/issues/5/events","html_url":"https://github.com/donald-fr/test[...]
