---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/donald-fr/testrepo_u/pulls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1511259603'
      Etag:
      - W/"93ad94523b39d8cf9aeed109961915d5"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/donald-fr/testrepo_u/pulls/5","id":123456430,"html_url":"https://github.com/donald-fr/testrepo_u/pull/5","diff_url":"https://github.com/donald-fr/testrepo_u/pull/5.diff","patch_url":"https://github.com/donald-fr/testrepo_u/pull/5.patch","issue_url":"https://api.github.com/repos/donald-fr/testrepo_u/issues/5","number":5,"state":"open","locked":false,"title":"Title
        2","user":{"login":"donaldduck","id":1234566,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"body":"Description
        2","created_at":"2017-11-21T09:53:12Z","updated_at":"2017-11-21T09:53:14Z","closed_at":null,"merged_at":null,"merge_commit_sha":"5300d7f562e04ab50bf4f81840131694d52fffff","assignee":{"login":"donaldduck","id":1234566,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"assignees":[{"login":"donaldduck","id":1234566,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false}],"requested_reviewers":[],"milestone":null,"commits_url":"https://api.github.com/repos/donald-fr/testrepo_u/pulls/5/commits","review_comments_url":"https://api.github.com/repos/donald-fr/testrepo_u/pulls/5/comments","review_comment_url":"https://api.github.com/repos/donald-fr/testrepo_u/pulls/comments{/number}","comments_url":"https://api.github.com/repos/donald-fr/testrepo_u/issues/5/comments","statuses_url":"https://api.github.com/repos/donald-fr/testrepo_u/statuses/d64cdf61ac74cb104d5b423a9c6c7a2ef56fffff","head":{"label":"donaldduck:mybranch2","ref":"mybranch2","sha":"d64cdf61ac74cb104d5b423a9c6c7a2ef56fffff","user":{"login":"donaldduck","id":1234566,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"repo":{"id":123456177,"name":"testrepo_2f","full_name":"donaldduck/testrepo_2f","owner":{"login":"donaldduck","id":1234566,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/donaldduck/testrepo_2f","description":null,"fork":true,"url":"https://api.github.com/repos/donaldduck/testrepo_2f","forks_url":"https://api.github.com/repos/donaldduck/testrepo_2f/forks","keys_url":"https://api.github.com/repos/donaldduck/testrepo_2f/keys{/key_id}","collaborators_url":"https://api.github.com/repos/donaldduck/testrepo_2f/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/donaldduck/testrepo_2f/teams","hooks_url":"https://api.github.com/repos/donaldduck/testrepo_2f/hooks","issue_events_url":"https://api.github.com/repos/donaldduck/testrepo_2f/issues/events{/number}","events_url":"https://api.github.com/repos/donaldduck/testrepo_2f/events","assignees_url":"https://api.github.com/repos/donaldduck/testrepo_2f/assignees{/user}","branches_url":"https://api.github.com/repos/donaldduck/testrepo_2f/branches{/branch}","tags_url":"https://api.github.com/repos/donaldduck/testrepo_2f/tags","blobs_url":"https://api.github.com/repos/donaldduck/testrepo_2f/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/donaldduck/testrepo_2f/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/donaldduck/testrepo_2f/git/refs{/sha}","trees_url":"https://api.github.com/repos/donaldduck/testrepo_2f/git/trees{/sha}","statuses_url":"https://api.github.com/repos/donaldduck/testrepo_2f/statuses/{sha}","languages_url":"https://api.github.com/repos/donaldduck/testrepo_2f/languages","stargazers_url":"https://api.github.com/repos/donaldduck/testrepo_2f/stargazers","contributors_url":"https://api.github.com/repos/donaldduck/testrepo_2f/contributors","subscribers_url":"https://api.github.com/repos/donaldduck/testrepo_2f/subscribers","subscription_url":"https://api.github.com/repos/donaldduck/testrepo_2f/subscription","commits_url":"https://api.github.com/repos/donaldduck/testrepo_2f/commits{/sha}","git_commits_url":"https://api.github.com/repos/donaldduck/testrepo_2f/git/commits{/sha}","comments_url":"https://api.github.com/repos/donaldduck/testrepo_2f/comments{/number}","issue_comment_url":"https://api.github.com/repos/donaldduck/testrepo_2f/issues/comments{/number}","contents_url":"https://api.github.com/repos/donaldduck/testrepo_2f/contents/{+path}","compare_url":"https://api.github.com/repos/donaldduck/testrepo_2f/compare/{base}...{head}","merges_url":"https://api.github.com/repos/donaldduck/testrepo_2f/merges","archive_url":"https://api.github.com/repos/donaldduck/testrepo_2f/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/donaldduck/testrepo_2f/downloads","issues_url":"https://api.github.com/repos/donaldduck/testrepo_2f/issues{/number}","pulls_url":"https://api.github.com/repos/donaldduck/testrepo_2f/pulls{/number}","milestones_url":"https://api.github.com/repos/donaldduck/testrepo_2f/milestones{/number}","notifications_url":"https://api.github.com/repos/donaldduck/testrepo_2f/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/donaldduck/testrepo_2f/labels{/name}","releases_url":"https://api.github.com/repos/donaldduck/testrepo_2f/releases{/id}","deployments_url":"https://api.github.com/repos/donaldduck/testrepo_2f/deployments","created_at":"2017-11-21T09:26:50Z","updated_at":"2017-11-21T09:27:23Z","pushed_at":"2017-11-21T09:53:09Z","git_url":"git://github.com/donaldduck/testrepo_2f.git","ssh_url":"git@github.com:donaldduck/testrepo_2f.git","clone_url":"https://github.com/donaldduck/testrepo_2f.git","svn_url":"https://github.com/donaldduck/testrepo_2f","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"donald-fr:master","ref":"master","sha":"6ec60827e3f235b44126b87c099054b060249b99","user":{"login":"donald-fr","id":12345612,"avatar_url":"https://avatars2.githubusercontent.com/u/33847412?v=4","gravatar_id":"","url":"https://api.github.com/users/donald-fr","html_url":"https://github.com/donald-fr","followers_url":"https://api.github.com/users/donald-fr/followers","following_url":"https://api.github.com/users/donald-fr/following{/other_user}","gists_url":"https://api.github.com/users/do[...]
