---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_upstream/issues
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1530478681'
      Etag:
      - W/"1c8df0262bdb6382284e69e0442d6e0b"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/5","repository_url":"https://api.github.com/repos/donaldduck/testrepo_upstream","labels_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/5/labels{/name}","comments_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/5/comments","events_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/5/events","html_url":"https://github.com/donaldduck/testrepo_upstream/issues/5","id":123456,"node_id":"MDU6SXNzdWUzMzczMTgxMzA=","number":5,"title":"Issue
        upstream 3","user":{"login":"donald-fr","id":123456,"node_id":"MDQ6VXNlcjMzODQ3NDEy","avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donald-fr","html_url":"https://github.com/donald-fr","followers_url":"https://api.github.com/users/donald-fr/followers","following_url":"https://api.github.com/users/donald-fr/following{/other_user}","gists_url":"https://api.github.com/users/donald-fr/gists{/gist_id}","starred_url":"https://api.github.com/users/donald-fr/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donald-fr/subscriptions","organizations_url":"https://api.github.com/users/donald-fr/orgs","repos_url":"https://api.github.com/users/donald-fr/repos","events_url":"https://api.github.com/users/donald-fr/events{/privacy}","received_events_url":"https://api.github.com/users/donald-fr/received_events","type":"User","site_admin":false},"labels":[{"id":123456,"node_id":"MDU6TGFiZWw5ODA3NzkxNzI=","url":"https://api.github.com/repos/donaldduck/testrepo_upstream/labels/enhancement","name":"enhancement","color":"a2eeef","default":true},{"id":123456,"node_id":"MDU6TGFiZWw5ODA3NzkxNzY=","url":"https://api.github.com/repos/donaldduck/testrepo_upstream/labels/good%20first%20issue","name":"good
        first issue","color":"7057ff","default":true}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":{"url":"https://api.github.com/repos/donaldduck/testrepo_upstream/milestones/2","html_url":"https://github.com/donaldduck/testrepo_upstream/milestone/2","labels_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/milestones/2/labels","id":123456,"node_id":"MDk6TWlsZXN0b25lMzQ2NTE0MA==","number":2,"title":"Upstream
        milestone 2","description":"","creator":{"login":"donaldduck","id":123456,"node_id":"MDQ6VXNlcjE1OTUzNTY=","avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"open_issues":2,"closed_issues":0,"state":"open","created_at":"2018-07-01T20:05:44Z","updated_at":"2018-07-01T20:06:54Z","due_on":null,"closed_at":null},"comments":0,"created_at":"2018-07-01T20:06:54Z","updated_at":"2018-07-01T20:06:54Z","closed_at":null,"author_association":"COLLABORATOR","body":""},{"url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/4","repository_url":"https://api.github.com/repos/donaldduck/testrepo_upstream","labels_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/4/labels{/name}","comments_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/4/comments","events_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/4/events","html_url":"https://github.com/donaldduck/t[...]
