---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/donaldduck/testrepo/labels
    body:
      encoding: UTF-8
      string: '{"name":"my_label","color":"c64c64"}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1514053576'
      Etag:
      - '"1ea6b12ceb9b563a57d3a6be15fa628c"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/donaldduck/testrepo/labels/my_label
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":123456,"url":"https://api.github.com/repos/donaldduck/testrepo/labels/my_label","name":"my_label","color":"c64c64","default":false}'
  recorded_at: Sat, 23 Dec 2017 18:03:21 GMT
recorded_with: VCR 3.0.3
