---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":123456,"name":"testrepo_f","full_name":"donaldduck/testrepo_f","owner":{"login":"donaldduck","id":123456},"private":false,"html_url":"https://github.com/donaldduck/testrepo_f","description":null,"fork":true,"url":"https://api.github.com/repos/donaldduck/testrepo_f","parent":{"id":789012,"name":"testrepo_u","full_name":"donald-fr/testrepo_u","owner":{"login":"donald-fr","id":789012},"private":false,"html_url":"https://github.com/donald-fr/testrepo_u","description":null,"fork":false},"created_at":"2018-02-05T20:44:53Z","updated_at":"2018-02-05T21:04:59Z","pushed_at":"2018-02-05T21:07:31Z","git_url":"git://github.com/donaldduck/testrepo_f.git","ssh_url":"git@github.com:donaldduck/testrepo_f.git","clone_url":"https://github.com/donaldduck/testrepo_f.git","default_branch":"master"}'
  recorded_at: Mon, 05 Feb 2018 21:10:32 GMT
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1517867477'
    body:
      encoding: ASCII-8BIT
      string: '{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","type":"User","site_admin":false,"name":"Donald Duck","email":"donald.pub2@gmail.com"}'
  recorded_at: Mon, 05 Feb 2018 21:10:32 GMT
- request:
    method: get
    uri: https://api.github.com/repos/donald-fr/testrepo_u/collaborators/donaldduck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Status:
      - 204 No Content
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Feb 2018 21:10:33 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/donald-fr/testrepo_u/collaborators/donaldduck/permission
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"permission":"write","user":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","type":"User","site_admin":false}}'
  recorded_at: Mon, 05 Feb 2018 21:10:37 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/donald-fr/testrepo_u/pulls
    body:
      encoding: UTF-8
      string: '{"title":"Title","body":"Description","head":"donaldduck:mybranch","base":"master","draft":false}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/donald-fr/testrepo_u/pulls/10","id":123457,"html_url":"https://github.com/donald-fr/testrepo_u/pull/10","number":10,"state":"open","locked":false,"title":"Title","user":{"login":"donaldduck","id":123456},"body":"Description","created_at":"2018-02-05T21:10:39Z","updated_at":"2018-02-05T21:10:39Z","head":{"label":"donaldduck:mybranch","ref":"mybranch","repo":{"id":123456,"name":"testrepo_f","full_name":"donaldduck/testrepo_f","fork":true}},"base":{"label":"donald-fr:master","ref":"master","repo":{"id":789012,"name":"testrepo_u","full_name":"donald-fr/testrepo_u","fork":false}},"merged":false}'
  recorded_at: Mon, 05 Feb 2018 21:10:40 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/donald-fr/testrepo_u/issues/10/assignees
    body:
      encoding: UTF-8
      string: '{"assignees":["donaldduck"]}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/donald-fr/testrepo_u/issues/10","number":10,"title":"Title","user":{"login":"donaldduck","id":123456},"state":"open","assignee":{"login":"donaldduck","id":123456},"assignees":[{"login":"donaldduck","id":123456}],"body":"Description","pull_request":{"url":"https://api.github.com/repos/donald-fr/testrepo_u/pulls/10","html_url":"https://github.com/donald-fr/testrepo_u/pull/10"}}'
  recorded_at: Mon, 05 Feb 2018 21:10:42 GMT
recorded_with: VCR 3.0.3
