---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1517867477'
      Etag:
      - W/"867a7455cae6fa03110405ae3f4f8ffe"
      Last-Modified:
      - Tue, 30 Jan 2018 20:56:34 GMT
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false,"name":"Donald
        Duck","company":"@momcorp","blog":"","location":"Berlin","email":"donald.pub2@gmail.com","hireable":true,"bio":null,"public_repos":19,"public_gists":0,"followers":9,"following":0,"created_at":"2012-04-01T11:52:16Z","updated_at":"2018-01-30T20:56:34Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":32597,"collaborators":0,"two_factor_authentication":true,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Mon, 05 Feb 2018 21:07:19 GMT
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_f/collaborators/donaldduck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/octet-stream
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1517867477'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Feb 2018 21:07:20 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_f/collaborators/donaldduck/permission
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1517867477'
      Etag:
      - W/"2e0eb2906871bf26051feba70dcc7ce1"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"permission":"admin","user":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false}}'
  recorded_at: Mon, 05 Feb 2018 21:07:25 GMT
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_f/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1517867477'
      Etag:
      - W/"6b82345d2c890ae31294f18e1ed5b633"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":123456,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/bug","name":"bug","color":"d73a4a","default":true},{"id":123456,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/duplicate","name":"duplicate","color":"cfd3d7","default":true},{"id":123456,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/enhancement","name":"enhancement","color":"a2eeef","default":true},{"id":123456,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/good%20first%20issue","name":"good
        first issue","color":"7057ff","default":true},{"id":123456,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/help%20wanted","name":"help
        wanted","color":"008672","default":true},{"id":123456,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/invalid","name":"invalid","color":"e4e669","default":true},{"id":123456,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/question","name":"question","color":"d876e3","default":true},{"id":123456,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/wontfix","name":"wontfix","color":"ffffff","default":true}]'
  recorded_at: Mon, 05 Feb 2018 21:07:26 GMT
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_f/milestones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1517867477'
      Etag:
      - W/"6f3877ab949fc49bca392bcaa9d26685"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/donaldduck/testrepo_f/milestones/1","html_url":"https://github.com/donaldduck/testrepo_f/milestone/1","labels_url":"https://api.github.com/repos/donaldduck/testrepo_f/milestones/1/labels","id":123456,"number":1,"title":"0.0.1","description":"","creator":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"open_issues":0,"closed_issues":0,"state":"open","created_at":"2018-02-05T21:05:13Z","updated_at":"2018-02-05T21:05:13Z","due_on":null,"closed_at":null}]'
  recorded_at: Mon, 05 Feb 2018 21:07:27 GMT
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_f/collaborators
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '[...]
[...]
- request:
    method: post
    uri: https://api.github.com/repos/donaldduck/testrepo_f/pulls
    body:
      encoding: UTF-8
      string: '{"title":"Title","body":"Description","head":"mybranch","base":"master"}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1517867477'
      Etag:
      - '"8f162619c852d862cb63fa453f165da2"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/donaldduck/testrepo_f/pulls/1
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/donaldduck/testrepo_f/pulls/1","id":123456,"html_url":"https://github.com/donaldduck/testrepo_f/pull/1","diff_url":"https://github.com/donaldduck/testrepo_f/pull/1.diff","patch_url":"https://github.com/donaldduck/testrepo_f/pull/1.patch","issue_url":"https://api.github.com/repos/donaldduck/testrepo_f/issues/1","number":1,"state":"open","locked":false,"title":"Title","user":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"body":"Description","created_at":"2018-02-05T21:07:30Z","updated_at":"2018-02-05T21:07:30Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"milestone":null,"commits_url":"https://api.github.com/repos/donaldduck/testrepo_f/pulls/1/commits","review_comments_url":"https://api.github.com/repos/donaldduck/testrepo_f/pulls/1/comments","review_comment_url":"https://api.github.com/repos/donaldduck/testrepo_f/pulls/comments{/number}","comments_url":"https://api.github.com/repos/donaldduck/testrepo_f/issues/1/comments","statuses_url":"https://api.github.com/repos/donaldduck/testrepo_f/statuses/2ed302a6c2b3bbfab51c64321b20b854017b97ee","head":{"label":"donaldduck:mybranch","ref":"mybranch","sha":"2ed302a6c2b3bbfab51c64321b20b854017b97ee","user":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"repo":{"id":123456,"name":"testrepo_f","full_name":"donaldduck/testrepo_f","owner":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/donaldduck/testrepo_f","description":null,"fork":true,"url":"https://api.github.com/repos/donaldduck/testrepo_f","forks_url":"https://api.github.com/repos/donaldduck/testrepo_f/forks","keys_url":"https://api.github.com/repos/donaldduck/testrepo_f/keys{/key_id}","collaborators_url":"https://api.github.com/repos/donaldduck/testrepo_f/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/donaldduck/testrepo_f/teams","hooks_url":"https://api.github.com/repos/donaldduck/testrepo_f/hooks","issue_events_url":"https://api.github.com/repos/donaldduck/testrepo_f/issues/events{/number}","events_url":"https://api.github.com/repos/donaldduck/testrepo_f/events","assignees_url":"https://api.github.com/repos/donaldduck/testrepo_f/assignees{/user}","branches_url":"https://api.github.com/repos/donaldduck/testrepo_f/branches{/branch}","tags_url":"https://api.github.com/repos/donaldduck/testrepo_f/tags","blobs_url":"https://api.github.com/repos/donaldduck/testrepo_f/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/donaldduck/testrepo_f/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/donaldduck/testrepo_f/git/refs{/sha}","trees_url":"https://api.github.com/repos/donaldduck/testrepo_f/git/trees{/sha}","statuses_url":"https://api.github.com/repos/donaldduck/testrepo_f/statuses/{sha}","languages_url":"https://api.github.com/repos/donaldduck/testrepo_f/languages","stargazers_url":"https://api.github.com/repos/donaldduck/testrepo_f/stargazers","contributors_url":"https://api.github.com/repos/donaldduck/testrepo_f/contributors","subscribers_url":"https://api.github.com/repos/donaldduck/testrepo_f/subscribers","subscription_url":"https://api.github.com/repos/donaldduck/testrepo_f/subscription","commits_url":"https://api.github.com/repos/donaldduck/testrepo_f/commits{/sha}","git_commits_url":"https://api.github.com/repos/donaldduck/testrepo_f/git/commits{/sha}","comments_url":"https://api.github.com/repos/donaldduck/testrepo_f/comments{/number}","issue_comment_url":"https://api.github.com/repos/donaldduck/testrepo_f/issues/comments{/number}","contents_url":"https://api.github.com/repos/donaldduck/testrepo_f/contents/{+path}","compare_url":"https://api.github.com/repos/donaldduck/testrepo_f/compare/{base}...{head}","merges_url":"https://api.github.com/repos/donaldduck/testrepo_f/merges","archive_url":"https://api.github.com/repos/donaldduck/testrepo_f/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/donaldduck/testrepo_f/downloads","issues_url":"https://api.github.com/repos/donaldduck/testrepo_f/issues{/number}","pulls_url":"https://api.github.com/repos/donaldduck/testrepo_f/pulls{/number}","milestones_url":"https://api.github.com/repos/donaldduck/testrepo_f/milestones{/number}","notifications_url":"https://api.github.com/repos/donaldduck/testrepo_f/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/donaldduck/testrepo_f/labels{/name}","releases_url":"https://api.github.com/repos/donaldduck/testrepo_f/releases{/id}","deployments_url":"https://api.github.com/repos/donaldduck/testrepo_f/deployments","created_at":"2018-02-05T20:44:53Z","updated_at":"2018-02-05T21:04:59Z","pushed_at":"2018-02-05T21:03:24Z","git_url":"git://github.com/donaldduck/testrepo_f.git","ssh_url":"git@github.com:donaldduck/testrepo_f.git","clone_url":"https://github.com/donaldduck/testrepo_f.git","svn_url":"https://github.com/donaldduck/testrepo_f","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":1,"license":null,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master"}},"base":{"label":"donaldduck:master","ref":"master","sha":"c971bf0ec8076e78b866a41ba4c3a83bc6a4be73","user":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api[...]
[...]
- request:
    method: post
    uri: https://api.github.com/repos/donaldduck/testrepo_f/issues/1/labels
    body:
      encoding: UTF-8
      string: '["bug","invalid"]'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1517867477'
      Etag:
      - W/"f60c8de2111043899cee7a6498ea73b6"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":123456,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/bug","name":"bug","color":"d73a4a","default":true},{"id":123456,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/invalid","name":"invalid","color":"e4e669","default":true}]'
  recorded_at: Mon, 05 Feb 2018 21:07:32 GMT
- request:
    method: patch
    uri: https://api.github.com/repos/donaldduck/testrepo_f/issues/1
    body:
      encoding: UTF-8
      string: '{"milestone":1}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1517867477'
      Etag:
      - W/"d3487435b6f4aba43871f6e3b240b320"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/donaldduck/testrepo_f/issues/1","repository_url":"https://api.github.com/repos/donaldduck/testrepo_f","labels_url":"https://api.github.com/repos/donaldduck/testrepo_f/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/donaldduck/testrepo_f/issues/1/comments","events_url":"https://api.github.com/repos/donaldduck/testrepo_f/issues/1/events","html_url":"https://github.com/donaldduck/testrepo_f/pull/1","id":123456,"number":1,"title":"Title","user":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"labels":[{"id":123456,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/bug","name":"bug","color":"d73a4a","default":true},{"id":123456,"url":"https://api.github.com/repos/donaldduck/testrepo_f/labels/invalid","name":"invalid","color":"e4e669","default":true}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":{"url":"https://api.github.com/repos/donaldduck/testrepo_f/milestones/1","html_url":"https://github.com/donaldduck/testrepo_f/milestone/1","labels_url":"https:[...]
- request:
    method: post
    uri: https://api.github.com/repos/donaldduck/testrepo_f/pulls/1/requested_reviewers
    body:
      encoding: UTF-8
      string: '{"reviewers":["donald-fr"]}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4981'
      X-Ratelimit-Reset:
      - '1517867477'
      Etag:
      - '"3e05a2c5de156f99bc4054f7948463eb"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, ad[...]
- request:
    method: post
    uri: https://api.github.com/repos/donaldduck/testrepo_f/issues/1/assignees
    body:
      encoding: UTF-8
      string: '{"assignees":["donaldduck"]}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - [...]
