---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1517867477'
      Etag:
      - W/"867a7455cae6fa03110405ae3f4f8ffe"
      Last-Modified:
      - Tue, 30 Jan 2018 20:56:34 GMT
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false,"name":"Donald
        Duck","company":"@momcorp","blog":"","location":"Berlin","email":"donald.pub2@gmail.com","hireable":true,"bio":null,"public_repos":19,"public_gists":0,"followers":9,"following":0,"created_at":"2012-04-01T11:52:16Z","updated_at":"2018-01-30T20:56:34Z","private_gists":0,"total_private_repos":0,"owned_private_repos":0,"disk_usage":32597,"collaborators":0,"two_factor_authentication":true,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Mon, 05 Feb 2018 21:10:32 GMT
- request:
    method: get
    uri: https://api.github.com/repos/donald-fr/testrepo_u/collaborators/donaldduck
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/octet-stream
      Status:
      - 204 No Content
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1517867477'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 05 Feb 2018 21:10:33 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/donald-fr/testrepo_u/collaborators/donaldduck/permission
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1517867477'
      Etag:
      - W/"e4fff88fc0fa32cbe968faae12f06df9"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"permission":"write","user":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false}}'
  recorded_at: Mon, 05 Feb 2018 21:10:37 GMT
[...]
- request:
    method: post
    uri: https://api.github.com/repos/donald-fr/testrepo_u/pulls
    body:
      encoding: UTF-8
      string: '{"title":"Title","body":"Description","head":"donaldduck:mybranch","base":"master"}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4969'
      X-Ratelimit-Reset:
      - '1517867477'
      Etag:
      - '"16eee01131c02de43ebb3382d7a1a4eb"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/donald-fr/testrepo_u/pulls/8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/donald-fr/testrepo_u/pulls/8","id":123456,"html_url":"https://github.com/donald-fr/testrepo_u/pull/8","diff_url":"https://github.com/donald-fr/testrepo_u/pull/8.diff","patch_url":"https://github.com/donald-fr/testrepo_u/pull/8.patch","issue_url":"https://api.github.com/repos/donald-fr/testrepo_u/issues/8","number":8,"state":"open","locked":false,"title":"Title","user":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"body":"Description","created_at":"2018-02-05T21:10:39Z","updated_at":"2018-02-05T21:10:39Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"milestone":null,"commits_url":"https://api.github.com/repos/donald-fr/testrepo_u/pulls/8/commits","review_comments_url":"https://api.github.com/repos/donald-fr/testrepo_u/pulls/8/comments","review_comment_url":"https://api.github.com/repos/donald-fr/testrepo_u/pulls/comments{/number}","comments_url":"https://api.github.com/repos/donald-fr/testrepo_u/issues/8/comments","statuses_url":"https://api.github.com/repos/donald-fr/testrepo_u/statuses/2ed302a6c2b3bbfab51c64321b20b854017b97ee","head":{"label":"donaldduck:mybranch","ref":"mybranch","sha":"2ed302a6c2b3bbfab51c64321b20b854017b97ee","user":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"repo":{"id":123456,"name":"testrepo_f","full_name":"donaldduck/testrepo_f","owner":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/donaldduck/testrepo_f","description":null,"fork":true,"url":"https://api.github.com/repos/donaldduck/testrepo_f","forks_url":"https://api.github.com/repos/donaldduck/testrepo_f/forks","keys_url":"https://api.github.com/repos/donaldduck/testrepo_f/keys{/key_id}","collaborators_url":"https://api.github.com/repos/donaldduck/testrepo_f/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/donaldduck/testrepo_f/teams","hooks_url":"https://api.github.com/repos/donaldduck/testrepo_f/hooks","issue_events_url":"https://api.github.com/repos/donaldduck/testrepo_f/issues/events{/number}","events_url":"https://api.github.com/repos/donaldduck/testrepo_f/events","assignees_url":"https://api.github.com/repos/donaldduck/testrepo_f/assignees{/user}","branches_url":"https://api.github.com/repos/donaldduck/testrepo_f/branches{/branch}","tags_url":"https://api.github.com/repos/donaldduck/testrepo_f/tags","blobs_url":"https://api.github.com/repos/donaldduck/testrepo_f/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/donaldduck/testrepo_f/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/donaldduck/testrepo_f/git/refs{/sha}","trees_url":"https://api.github.com/repos/donaldduck/testrepo_f/git/trees{/sha}","statuses_url":"https://api.github.com/repos/donaldduck/testrepo_f/statuses/{sha}","languages_url":"https://api.github.com/repos/donaldduck/testrepo_f/languages","stargazers_url":"https://api.github.com/repos/donaldduck/testrepo_f/stargazers","contributors_url":"https://api.github.com/repos/donaldduck/testrepo_f/contributors","subscribers_url":"https://api.github.com/repos/donaldduck/testrepo_f/subscribers","subscription_url":"https://api.github.com/repos/donaldduck/testrepo_f/subscription","commits_url":"https://api.github.com/repos/donaldduck/testrepo_f/commits{/sha}","git_commits_url":"https://api.github.com/repos/donaldduck/testrepo_f/git/commits{/sha}","comments_url":"https://api.github.com/repos/donaldduck/testrepo_f/comments{/number}","issue_comment_url":"https://api.github.com/repos/donaldduck/testrepo_f/issues/comments{/number}","contents_url":"https://api.github.com/repos/donaldduck/testrepo_f/contents/{+path}","compare_url":"https://api.github.com/repos/donaldduck/testrepo_f/compare/{base}...{head}","merges_url":"https://api.github.com/repos/donaldduck/testrepo_f/merges","archive_url":"https://api.github.com/repos/donaldduck/testrepo_f/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/donaldduck/testrepo_f/downloads","issues_url":"https://api.github.com/repos/donaldduck/testrepo_f/issues{/number}","pulls_url":"https://api.github.com/repos/donaldduck/testrepo_f/pulls{/number}","milestones_url":"https://api.github.com/repos/donaldduck/testrepo_f/milestones{/number}","notifications_url":"https://api.github.com/repos/donaldduck/testrepo_f/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/donaldduck/testrepo_f/labels{/name}","releases_url":"https://api.github.com/repos/donaldduck/testrepo_f/releases{/id}","deployments_url":"https://api.github.com/repos/donaldduck/testrepo_f/deployments","created_at":"2018-02-05T20:44:53Z","updated_at":"2018-02-05T21:04:59Z","pushed_at":"2018-02-05T21:07:31Z","git_url":"git://github.com/donaldduck/testrepo_f.git","ssh_url":"git@github.com:donaldduck/testrepo_f.git","clone_url":"https://github.com/donaldduck/testrepo_f.git","svn_url":"https://github.com/donaldduck/testrepo_f","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"open_issues_count":1,"license":null,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master"}},"base":{"label":"donald-fr:master","ref":"master","sha":"c971bf0ec8076e78b866a41ba4c3a83bc6a4be73","user":{"login":"donald-fr","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donald-fr","html_url":"https://github.com/donald-fr","followers_url":"https://api.github.com/users/donald-fr/followers","following_url":"https://api.github.com/users/donald-fr/following{/other_user}","gists_url":"https://api.githu[...]
[...]
- request:
    method: post
    uri: https://api.github.com/repos/donald-fr/testrepo_u/issues/8/assignees
    body:
      encoding: UTF-8
      string: '{"assignees":["donaldduck"]}'
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4967'
      X-Ratelimit-Reset:
      - '1517867477'
      Etag:
      - '"86809aa157aa280508bdaeccdca93dd4"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/donald-fr/testrepo_u/issues/8
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/donald-fr/testrepo_u/issues/8","repository_url":"https://api.github.com/repos/donald-fr/testrepo_u","labels_url":"https://api.github.com/repos/donald-fr/testrepo_u/issues/8/labels{/name}","comments_url":"https://api.github.com/repos/donald-fr/testrepo_u/issues/8/comments","events_url":"https://api.github.com/repos/donald-fr/testrepo_u/issues/8/events","html_url":"https://github.com/donald-fr/testrepo_u/pull/8","id":123456,"number":8,"title":"Title","user":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":{"login":"donaldduck","id":123456,"avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.g[...]
