---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck-fr/testrepo_u/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1516900528'
      Etag:
      - W/"53bce4f4552713177965e46fffffffff"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":788888888,"url":"https://api.github.com/repos/donaldduck-fr/testrepo_u/labels/bug","name":"bug","color":"ee0701","default":true},{"id":788889999,"url":"https://api.github.com/repos/donaldduck-fr/testrepo_u/labels/enhancement","name":"enhancement","color":"c2e0c6","default":false}]'
  recorded_at: Thu, 25 Jan 2018 16:56:36 GMT
recorded_with: VCR 3.0.3
