---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/geet/labels
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1511201123'
      Etag:
      - W/"1219cd7dcd76dc4179f679c9086bbd95"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":715980057,"url":"https://api.github.com/repos/donaldduck/geet/labels/bug","name":"bug","color":"ee0701","default":true},{"id":715980059,"url":"https://api.github.com/repos/donaldduck/geet/labels/enhancement","name":"enhancement","color":"84b6eb","default":true},{"id":735752330,"url":"https://api.github.com/repos/donaldduck/geet/labels/technical_debt","name":"technical_debt","color":"ee0701","default":false},{"id":740440448,"url":"https://api.github.com/repos/donaldduck/geet/labels/top_priority","name":"top_priority","color":"d93f0b","default":false}]'
  recorded_at: Mon, 20 Nov 2017 17:07:12 GMT
recorded_with: VCR 3.0.3
