---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/geet/milestones
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4957'
      X-Ratelimit-Reset:
      - '1530467646'
      Etag:
      - W/"32a1e1d59dbb0e07b9b3e38efb5db6ef"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/donaldduck/geet/milestones/5","html_url":"https://github.com/donaldduck/geet/milestone/5","labels_url":"https://api.github.com/repos/donaldduck/geet/milestones/5/labels","id":123456,"node_id":"MDk6TWlsZXN0b25lMjkyMjc1NQ==","number":5,"title":"0.4.0","description":"","creator":{"login":"donaldduck","id":123456,"node_id":"MDQ6VXNlcjE1OTUzNTY=","avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"open_issues":4,"closed_issues":0,"state":"open","created_at":"2017-11-19T17:46:38Z","updated_at":"2018-04-01T20:52:34Z","due_on":null,"closed_at":null},{"url":"https://api.github.com/repos/donaldduck/geet/milestones/14","html_url":"https://github.com/donaldduck/geet/milestone/14","labels_url":"https://api.github.com/repos/donaldduck/geet/milestones/14/labels","id":123456,"node_id":"MDk6TWlsZXN0b25lMzA2NDk0MQ==","number":14,"title":"0.3.8","description":"","creator":{"login":"donaldduck","id":123456,"node_id":"MDQ6VXNlcjE1OTUzNTY=","avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github[...]
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/geet/issues?milestone=19
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4956'
      X-Ratelimit-Reset:
      - '1530467646'
      Etag:
      - '"f01a02a1fc72a3f6399dd8802147c582"'
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 01 Jul 2018 17:16:00 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/geet/issues?milestone=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1530467646'
      Etag:
      - W/"dfd283c1791c9f63858b0ea21497b757"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/donaldduck/geet/issues/123","repository_url":"https://api.github.com/repos/donaldduck/geet","labels_url":"https://api.github.com/repos/donaldduck/geet/issues/123/labels{/name}","comments_url":"https://api.github.com/repos/donaldduck/geet/issues/123/comments","events_url":"https://api.github.com/repos/donaldduck/geet/issues/123/events","html_url":"https://github.com/donaldduck/geet/issues/123","id":123456,"node_id":"MDU6SXNzdWUyOTQxMTM0Mjg=","number":123,"title":"Increase
        scope of functional testing","user":{"login":"donaldduck","id":123456,"node_id":"MDQ6VXNlcjE1OTUzNTY=","avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"labels":[{"id":123456,"node_id":"MDU6TGFiZWw3MzU3NTIzMzA=","url":"https://api.github.com/repos/donaldduck/geet/labels/technical_debt","name":"technical_debt","color":"ee0701","default":false}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":{"url":"https://api.github.com/repos/donaldduck/geet/milestones/5","html_url":"https://github.com/donaldduck/geet/milestone/5","labels_url":"https://api.github.com/repos/donaldduck/geet/milestones/5/labels","id":123456,"node_id":"MDk6TWlsZXN0b25lMjkyMjc1NQ==","number":5,"title":"0.4.0","description":"","creator":{"login":"donaldduck","id":123456,"node_id":"MDQ6VXNlcjE1OTUzNTY=","avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"open_issues":4,"closed_issues":0,"state":"open","created_at":"2017-11-19T17:46:38Z","updated_at":"2018-04-01T20:52:34Z","due_on":null,"closed_at":null},"comments":0,"created_at":"2018-02-03T14:08:45Z","updated_at":"2018-02-03T14:08:46Z","closed_at":null,"author_association":"OWNER","body":"Functional
        testing should (can) include the geet binary."},{"url":"https://api.github.com/repos/donaldduck/geet/issues/117","repository_url":"https://api.github.com/repos/donaldduck/geet","labels_url":"https://api.github.com/repos/donaldduck/geet/issues/117/labels{/name}","comments_url":"https://api.github.com/repos/donaldduck/geet/issues/117/comments","events_url":"https://api.github.com/repos/donaldduck/geet/issues/117/events","html_url":"https://github.com/donaldduck/g[...]
[...]
