---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/donaldduck/testrepo_upstream/pulls?head=donaldduck:mybranch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <GITHUB_CREDENTIALS>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4974'
      X-Ratelimit-Reset:
      - '1566561447'
      Etag:
      - W/"e7f7cf9d886cc29625d28673dd96aa14"
      X-Oauth-Scopes:
      - admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
        delete_repo, gist, notifications, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/donaldduck/testrepo_upstream/pulls/3","id":123456,"node_id":"MDExOlB1bGxSZXF1ZXN0MzEwMzM3NDg0","html_url":"https://github.com/donaldduck/testrepo_upstream/pull/3","diff_url":"https://github.com/donaldduck/testrepo_upstream/pull/3.diff","patch_url":"https://github.com/donaldduck/testrepo_upstream/pull/3.patch","issue_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/3","number":3,"state":"open","locked":false,"title":"Add
        testfile3","user":{"login":"donaldduck","id":123456,"node_id":"MDQ6VXNlcjE1OTUzNTY=","avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"body":"","created_at":"2019-08-23T10:58:42Z","updated_at":"2019-08-23T10:58:43Z","closed_at":null,"merged_at":null,"merge_commit_sha":"19d715aa53a33c334d0063c9a68fe5e321fe2378","assignee":{"login":"donaldduck","id":123456,"node_id":"MDQ6VXNlcjE1OTUzNTY=","avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"assignees":[{"login":"donaldduck","id":123456,"node_id":"MDQ6VXNlcjE1OTUzNTY=","avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false}],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"commits_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/pulls/3/commits","review_comments_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/pulls/3/comments","review_comment_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/pulls/comments{/number}","comments_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/3/comments","statuses_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/statuses/e8eec66553b6ab93b0c9315d7fddf7328c9d9d0e","head":{"label":"donaldduck:mybranch","ref":"mybranch","sha":"e8eec66553b6ab93b0c9315d7fddf7328c9d9d0e","user":{"login":"donaldduck","id":123456,"node_id":"MDQ6VXNlcjE1OTUzNTY=","avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"repo":{"id":123456,"node_id":"MDEwOlJlcG9zaXRvcnkxNzc1NjgyMTI=","name":"testrepo_upstream","full_name":"donaldduck/testrepo_upstream","private":true,"owner":{"login":"donaldduck","id":123456,"node_id":"MDQ6VXNlcjE1OTUzNTY=","avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_url":"https://api.github.com/users/donaldduck/gists{/gist_id}","starred_url":"https://api.github.com/users/donaldduck/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/donaldduck/subscriptions","organizations_url":"https://api.github.com/users/donaldduck/orgs","repos_url":"https://api.github.com/users/donaldduck/repos","events_url":"https://api.github.com/users/donaldduck/events{/privacy}","received_events_url":"https://api.github.com/users/donaldduck/received_events","type":"User","site_admin":false},"html_url":"https://github.com/donaldduck/testrepo_upstream","description":null,"fork":false,"url":"https://api.github.com/repos/donaldduck/testrepo_upstream","forks_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/forks","keys_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/keys{/key_id}","collaborators_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/teams","hooks_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/hooks","issue_events_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/events{/number}","events_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/events","assignees_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/assignees{/user}","branches_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/branches{/branch}","tags_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/tags","blobs_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/git/refs{/sha}","trees_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/git/trees{/sha}","statuses_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/statuses/{sha}","languages_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/languages","stargazers_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/stargazers","contributors_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/contributors","subscribers_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/subscribers","subscription_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/subscription","commits_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/commits{/sha}","git_commits_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/git/commits{/sha}","comments_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/comments{/number}","issue_comment_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues/comments{/number}","contents_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/contents/{+path}","compare_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/compare/{base}...{head}","merges_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/merges","archive_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/downloads","issues_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/issues{/number}","pulls_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/pulls{/number}","milestones_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/milestones{/number}","notifications_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/labels{/name}","releases_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/releases{/id}","deployments_url":"https://api.github.com/repos/donaldduck/testrepo_upstream/deployments","created_at":"2019-03-25T10:54:43Z","updated_at":"2019-03-25T11:16:56Z","pushed_at":"2019-08-23T10:58:43Z","git_url":"git://github.com/donaldduck/testrepo_upstream.git","ssh_url":"git@github.com:donaldduck/testrepo_upstream.git","clone_url":"https://github.com/donaldduck/testrepo_upstream.git","svn_url":"https://github.com/donaldduck/testrepo_upstream","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master"}},"base":{"label":"donaldduck:master","ref":"master","sha":"f73f5f313b1bde716ad5f1975b7ed0234d945177","user":{"login":"donaldduck","id":123456,"node_id":"MDQ6VXNlcjE1OTUzNTY=","avatar_url":"https://avatars2.githubusercontent.com/u/123456?v=4","gravatar_id":"","url":"https://api.github.com/users/donaldduck","html_url":"https://github.com/donaldduck","followers_url":"https://api.github.com/users/donaldduck/followers","following_url":"https://api.github.com/users/donaldduck/following{/other_user}","gists_ur[...]
