---
http_interactions:
- request:
    method: post
    uri: https://gitlab.com/api/v4/projects/donaldduck%2Ftestproject/labels
    body:
      encoding: US-ASCII
      string: name=my_label&color=%23123456
    headers:
      Private-Token:
      - "<GITLAB_CREDENTIALS>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9ccd74bc7bedefbbc67c4783b163c8fc"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Remaining:
      - '598'
      Ratelimit-Reset:
      - '1530636314'
      Ratelimit-Resettime:
      - Wed, 03 Jul 2018 16:45:14 GMT
    body:
      encoding: UTF-8
      string: '{"id":1234565,"name":"my_label","color":"#123456","description":null,"open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0,"priority":null,"subscribed":false}'
  recorded_at: Tue, 03 Jul 2018 16:44:15 GMT
recorded_with: VCR 3.0.3
