---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/donaldduck%2Ftestproject/merge_requests?source_branch=mybranch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<GITLAB_CREDENTIALS>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e988027264fe5cf0c30640e4212fea0c"
      Link:
      - <https://gitlab.com/api/v4/projects/donaldduck%2Ftestproject/merge_requests?id=donaldduck%2Ftestproject&order_by=created_at&page=1&per_page=20&sort=desc&source_branch=mybranch&state=all>;
        rel="first", <https://gitlab.com/api/v4/projects/donaldduck%2Ftestproject/merge_requests?id=donaldduck%2Ftestproject&order_by=created_at&page=1&per_page=20&sort=desc&source_branch=mybranch&state=all>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1530786422'
      Ratelimit-Resettime:
      - Fri, 05 Jul 2018 10:27:02 GMT
    body:
      encoding: UTF-8
      string: '[{"id":12345600,"iid":2,"project_id":1234569,"title":"Test PR","description":"","state":"opened","created_at":"2018-07-05T10:25:10.670Z","updated_at":"2018-07-05T10:25:10.670Z","target_branch":"master","source_branch":"mybranch","upvotes":0,"downvotes":0,"author":{"id":1234561,"name":"Donald
        Duck","username":"donaldduck","state":"active","avatar_url":"https://secure.gravatar.com/avatar/0123456789abcdef05ea2797cb94a5b0?s=80\u0026d=identicon","web_url":"https://gitlab.com/donaldduck"},"assignee":null,"source_project_id":1234569,"target_project_id":1234569,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"8c5971f670b5915c8a1c11448b36ed65ddbf4e33","merge_commit_sha":null,"user_notes_count":0,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":false,"web_url":"https://gitlab.com/donaldduck/testproject/merge_requests/2","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"approvals_before_merge":null}]'
  recorded_at: Thu, 05 Jul 2018 10:26:02 GMT
- request:
    method: put
    uri: https://gitlab.com/api/v4/projects/donaldduck%2Ftestproject/merge_requests/2/merge
    body:
      encoding: UTF-8
      string: ''
    headers:
      Private-Token:
      - "<GITLAB_CREDENTIALS>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6c6d3084301470b5561b5106f5ce1da1"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Rem[...]
