---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v4/projects/donaldduck%2Ftestproject/merge_requests?source_branch=mybranch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Private-Token:
      - "<GITLAB_CREDENTIALS>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ed3d49f8811d744a6429bb3c90f615d6"
      Link:
      - <https://gitlab.com/api/v4/projects/donaldduck%2Ftestproject/merge_requests?id=donaldduck%2Ftestproject&order_by=created_at&page=1&per_page=20&sort=desc&source_branch=mybranch&state=opened>;
        rel="first", <https://gitlab.com/api/v4/projects/donaldduck%2Ftestproject/merge_requests?id=donaldduck%2Ftestproject&order_by=created_at&page=1&per_page=20&sort=desc&source_branch=mybranch&state=opened>;
        rel="last"
      X-Next-Page:
      - ''
      X-Page:
      - '1'
      X-Per-Page:
      - '20'
      X-Prev-Page:
      - ''
      X-Total:
      - '1'
      X-Total-Pages:
      - '1'
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '1'
      Ratelimit-Remaining:
      - '599'
      Ratelimit-Reset:
      - '1553514335'
      Ratelimit-Resettime:
      - Tue, 25 Mar 2019 11:45:35 GMT
    body:
      encoding: UTF-8
      string: '[{"id":12345690,"iid":4,"project_id":1234569,"title":"Delete pizza","description":"","state":"opened","created_at":"2019-03-25T11:44:15.881Z","updated_at":"2019-03-25T11:44:15.881Z","merged_by":null,"merged_at":null,"closed_by":null,"closed_at":null,"target_branch":"master","source_branch":"mybranch","user_notes_count":0,"upvotes":0,"downvotes":0,"author":{"id":1234561,"name":"Donald
        Duck","username":"donaldduck","state":"active","avatar_url":"https://secure.gravatar.com/avatar/0123456789abcdef05ea2797cb94a5b0?s=80\u0026d=identicon","web_url":"https://gitlab.com/donaldduck"},"assignee":null,"source_project_id":1234569,"target_project_id":1234569,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"9a845eec03092a38707eaecaa0a1d71aa05a1bff","merge_commit_sha":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":false,"web_url":"https://gitlab.com/donaldduck/testproject/merge_requests/4","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"squash":false,"approvals_before_merge":null}]'
  recorded_at: Mon, 25 Mar 2019 11:44:35 GMT
- request:
    method: put
    uri: https://gitlab.com/api/v4/projects/donaldduck%2Ftestproject/merge_requests/4/merge
    body:
      encoding: UTF-8
      string: ''
    headers:
      Private-Token:
      - "<GITLAB_CREDENTIALS>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0953f932a542fa60616d9cd2eb521226"
      Ratelimit-Limit:
      - '600'
      Ratelimit-Observed:
      - '2'
      Ratelimit-Rem[...]
